<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端适应-->
    <meta name="viewport" content="width=device-width , inital-scale=1.0">
    <title>通识管理</title>

    <link rel="stylesheet" type="text/css" href="../../static/dist/semantic.css" th:href="@{/dist/semantic.css}">
    <link rel="stylesheet" href="../../static/css/me.css">

</head>
<body>

<!--导航-->
<!--inverted:反转.会变成黑色-->
<nav th:replace="admin/_fragments :: menu(4)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <!--stackable 适应移动端-->
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item" style="font-family: STSong">管理系统</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="user icon"></i>教师管理</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="user outline icon"></i>学生管理</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类管理</a>
            <a href="#" class="m-item item m-mobile-hide active"><i class="tags icon"></i>书籍管理</a>

            <!--头像-->
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://picsum.photos/id/1/100/100" alt="" class="ui avatar image">管理员
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--移动端的列表按钮  toggle black无显示意义，只用于类似id作用-->
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--二级导航-->
<div class="ui attached pointing menu m-shadow-small">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/book/input}" class="item">添加</a>
            <a href="#" th:href="@{/admin/book}" class="active item">列表</a>
        </div>
    </div>

</div>

<!--中间内容-->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">

        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功！</p>
        </div>

        <!--提交，头部-->
        <!--            <form action="#" method="post" class="ui segment form basic">-->
        <!--            因为只需要局部刷新，所以不使用form来提交数据，而是通过JQuery-->
        <div class="ui segment form basic">
            <!--查询输入的需要提交的表单-->
            <input type="hidden" name="page">

            <div class="inline fields">

                <div class="field">
                    <input type="text" name="book_title" th:value="*{book_title}" placeholder="书名">
                </div>

                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui type selection dropdown">
                            <input type="hidden" name="book_classify_id" th:value="*{book_classify_id}!=null ? *{book_classify_id}">
                            <i class="dropdown icon"></i>
                            <div class="default text">书籍分类</div>
                            <div class="menu">
                                <div class="item" th:each="classify : ${classifyList}" data-value="1"
                                     th:data-value="${classify.classify_id}" th:text="${classify.classify_name}">历史人文</div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="field">
                    <button type="button" class="ui teal basic button " id="search-btn">
                        <i class="search icon"></i>搜索
                    </button>
                </div>
            </div>
        </div>
        <!--            </form>-->

        <div class="ui segment basic" id="table-container">
            <table th:fragment="bookList" class="ui celled table">
                <thead>
                <tr align="center">
                    <th>序号</th>
                    <th>书名</th>
                    <th>分类</th>
                    <th>推荐人</th>
                    <th>操作</th>
                </tr>
                </thead>

                <tbody>
                <tr align="center" th:each="book,iterStat : ${pageInfo.list}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${book.book_title}">《明朝那些事儿》</td>
                    <td th:text="${book.classify.classify_name}">历史人文</td>
                    <td th:text="${book.teacher.teacher_name}">周文</td>
                    <td>
<!--                        <a href="#" th:href="@{/admin/book/{book_id}(book_id=${book.book_id})}"-->
<!--                           class="ui mini teal basic button">详情</a>-->
                        <a href="#" th:href="@{/admin/book/{book_id}/delete(book_id=${book.book_id})}"
                           onclick="return confirm('确定要删除吗？')" class="ui mini orange basic button">移除</a>
                        <a href="#" th:href="@{/admin/book/{book_id}/input(book_id=${book.book_id})}"
                           class="ui mini teal basic button">编辑</a>
                    </td>
                </tr>
                </tbody>

                <tfoot>
                <tr>
                    <!--合并单元格-->
                    <th colspan="6">
                        <div class="ui inverted divided stackable grid">
                            <div class="three wide column" align="center">
                                <a class="ui left floated teal basic button"
                                   th:href="@{/admin/book(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}"
                                   th:unless="${pageInfo.isFirstPage}">上一页</a>
                            </div>

                            <div class="ten wide column" align="center">
                                <p>第 <span th:text="${pageInfo.pageNum}"></span> 页，共 <span
                                        th:text="${pageInfo.pages}"></span> 页，有 <span
                                        th:text="${pageInfo.total}"></span> 本书</p>
                            </div>

                            <div class="three wide column" align="center">
                                <a class="ui right floated teal basic button"
                                   th:href="@{/admin/book(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}"
                                   th:unless="${pageInfo.isLastPage}">下一页</a>
                            </div>
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>

<br>
<br>
<br>
<br>


<!--CDN版本,不需要下载-->
<!--连接jsdeliver-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<!--链接semantic UI-->
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<!--对头菜单移动端的应用-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });


    //完成动态局部刷新
    //获取表单中name为page的value值
    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

    $("#search-btn").click(function () {
        $("[name='page']").val(0);
        loaddata();
    });

    function loaddata() {
        $("#table-container").load(/*[[@{/admin/exams/search}]]*/"/admin/book/search", {
            book_title: $("[name='book_title']").val(),
            book_classify_id: $("[name='book_classify_id']").val(),
            page: $("[name='page']").val()
        });
    }

</script>

<script>
    // 关闭消息提示
    $('.message .close')
        .on('click', function() {
            $(this)
                .closest('.message')
                .transition('fade')
            ;
        })
    ;
</script>
</body>
</html>