<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端适应-->
    <meta name="viewport" content="width=device-width , inital-scale=1.0">
    <title>学生新增</title>

    <link rel="stylesheet" type="text/css" href="../../static/dist/semantic.css" th:href="@{/dist/semantic.css}">
    <link rel="stylesheet" href="../../static/css/me.css">

</head>
<body>

<!--导航-->
<!--inverted:反转.会变成黑色-->
<nav th:replace="admin/_fragments :: menu(2)"  class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <!--stackable 适应移动端-->
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item" style="font-family: STSong">管理系统</h2>
            <a href="#" class="m-item item m-mobile-hide active" ><i class="user icon"></i>教师管理</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="user outline icon"></i>学生管理</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类管理</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>书籍管理</a>

            <!--头像-->
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="https://picsum.photos/id/1/100/100" alt="" class="ui avatar image">
                        管理员
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--移动端的列表按钮  toggle black无显示意义，只用于类似id作用-->
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--二级导航-->
<div class="ui attached pointing menu m-shadow-small">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/students/input}" class="item">单独添加</a>
            <a href="#" class="active item">批量导入</a>
        </div>
    </div>

</div>

<div class="m-padded-tb-big m-container-small" data-wow-duration="2s"
     style="visibility: visible; animation-duration: 2s; animation-name: fadeInUp;">
    <div class="ui container">
        <div class="ui middle aligned grid m-padded-tb-small">
            <div class="eight wide column">
                <h1>下载模板并按照如图样例导入</h1>
            </div>


            <div class="eight wide column">
                <form class="form-signin" action="/admin/download" th:action="@{/admin/download}" method="post">
                    <button class="ui teal basic submit button">下载</button>
                    <p style="color: red" th:text="${result}" th:if="${not #strings.isEmpty(result)}"></p>
                </form>
            </div>
        </div>

        <!--图-->
        <div class="ui segment">
            <img src="../../static/images/ex.png" th:src="@{/images/ex.png}" alt=""
                 class="ui fluid rounded image">
        </div>

<!--        &lt;!&ndash;密码提示&ndash;&gt;-->
<!--        <div class="ui mini teal message">注意文件名为“学生信息录入.xlsx”</div>-->

        <div class="ui segment">

            <form method="POST" action="/admin/upload" th:action="@{/admin/upload}" enctype="multipart/form-data">
                <div class="ui right aligned container">
                    <input type="file" name="file" class="ui teal basic button"/>
                    <button class="ui teal submit button">提交</button>
                </div>

<!--                <input type="submit" value="Submit" />-->
            </form>
        </div>

    </div>
</div>
</body>
</html>