<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chilly.examlibrary.mapper.UserBookMapper"><!--java的mapper路径-->

    <!--<resultMap id="唯一的标识"（自己起名字） type="映射的pojo对象"(实体类路径)>-->
    <resultMap id="bookQueryResult" type="com.chilly.examlibrary.entity.query.BookQuery">
        <!--id column="表的主键字段，或者可以为查询语句中的别名字段"  property="映射pojo对象的主键属性" jdbcType="字段类型"(VARCHAR)) -->
        <id column="book_id" property="book_id" javaType="Long" jdbcType="BIGINT"/>
        <!--result column="表的一个字段（可以为任意表的一个字段）" jdbcType="字段类型" property="映射到pojo对象的一个属性（须为type定义的pojo对象中的一个属性）"-->
        <result column="book_title" property="book_title" javaType="String" jdbcType="VARCHAR"/>
        <result column="book_classify_id" property="book_classify_id" javaType="Long" jdbcType="BIGINT"/>
        <result column="classify_name" property="book_classify_name" javaType="String" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="listBook" resultMap="bookQueryResult">
        select b.book_id,b.book_title,b.book_classify_id,c.classify_name
        from book b,classify c
        where b.book_classify_id = c.classify_id
    </select>

    <select id="getBookQuery" resultMap="bookQueryResult">
        select b.book_id,b.book_title,b.book_classify_id,c.classify_name
        from book b,classify c
        where b.book_classify_id = c.classify_id
        and b.book_id = #{book_id}
    </select>

</mapper>